[submodule "Tools/com.renoise.xLib.xrnx/source/xLib"]
	path = Tools/com.renoise.xLib.xrnx/source/xLib
	url = https://github.com/bjorn-nesby/xLib.git
[submodule "Tools/com.renoise.xCleaner.xrnx/source/vLib"]
	path = Tools/com.renoise.xCleaner.xrnx/source/vLib
	url = https://github.com/bjorn-nesby/vLib.git
[submodule "Tools/com.renoise.xCleaner.xrnx/source/xLib"]
	path = Tools/com.renoise.xCleaner.xrnx/source/xLib
	url = https://github.com/bjorn-nesby/xLib.git
[submodule "Tools/com.renoise.xRules.xrnx/source/xLib"]
	path = Tools/com.renoise.xRules.xrnx/source/xLib
	url = https://github.com/bjorn-nesby/xLib.git
[submodule "Tools/com.renoise.xRules.xrnx/source/vLib"]
	path = Tools/com.renoise.xRules.xrnx/source/vLib
	url = https://github.com/bjorn-nesby/vLib.git
