      body {
         background-color: black;
         font-size: 10px;
         overflow-y: hidden;
         width: 1010px;
      }
      th{
        color: white;
        background-color: black;
      }
      th.off {
        color: #888;
      }
      th.muted {
        text-decoration: line-through;
        color: #888;
      }
      th:hover, th.hover {
        text-decoration: underline;
      }
      td {
        width: 80px;
        height: 40px;
        border: 1px solid #555;
        color: white;
        text-align: center;
        --border-radius:4px;
        --moz-border-radius:4px;        
      }
      
      ._thead {
        border-spacing: 0;
      }
      
      ._thead th {
        padding: 2px;
      }
      
      .s, .l{
        font-weight: bold;
        color: #aaa;
        width: 20px;
      }

      .s:hover, .l:hover {
        border: 1px dotted red;
        cursor: pointer;
        color: white;
      }
      
      .current_seq .s {
        color: white;
      }

      .pid {
        background-color: #BE8D18;
        font-weight: bold;
        border: 2px solid white;
        width: 30px;
        color: black;
      }
      .pid:hover {
        background-color: #FFDF59;
      }
      .pid:active {
        background-color: #DEAD38;
      }
      .p {
        border: 2px solid #eee;
        background-color: pink;
      }
      .p:hover, .pid:hover {
        border: 2px dotted red;
        cursor: pointer;
      }
      .p:active {
        background-color: red;
      }
      .empty {
        background-color: black;
      }
      .send {
        background-color: darkgreen;
      }
      .mst {
        background-color: #333;
      }
      .mst:hover {
        cursor: default;
        border: none;
        border: 2px solid #eee;
      }
      .current_seq td {
        border-top: 4px solid red;
        border-bottom: 4px solid red;
      }
      .current_seq .pid  {
        background-color: #FEBD48;
      }
      .label {
        width: 160px;
        border: 1px solid #555;
        background-color: #333;
        color: white;
        text-align: center;
        padding: 2px;
      }
      .seq_mute {
        background-color: purple;
      }
      .scheduled {
        color: transparent;
        background-image: url(/images/progress_circle_1.gif);
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }
      .seq_loop .l {
        background-color: #6D727C;
      }
      
      #test-tools {
        display: none; 
        border: white; 
        padding: 5px; 
        margin: 10px;
        color: white;
      }

      #log {
        display: none;
        margin-top: 20px;
        width: 1000px;
        background-color: white;
        color: black;
        height: 100px;
        overflow-y: auto;
      }