body {
  font-family: Verdana,Helvetica,Arial,sans-serif;
  margin: 0px;
  margin-top: 30px;
  padding: 0px;
}

#gmenu {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  height: 25px;
  overflow: hidden;
}
#gmenu ul {
  color: white;
  list-style-type: none;
  line-height: 14px;
  font-size: 11px;
  margin: 0;
  padding 0;
  background-color: #AA5555;
  border-bottom: 1px solid #CC7777;
}

#gmenu li {
  display: inline-block;
  padding: 5px;
}

#gmenu a {
  color: black;
}